<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.core.mapper.UserInfoMapper">
    
    <resultMap type="UserInfo" id="UserInfoResult">
        <result property="openid"    column="openid"    />
        <result property="nickname"    column="nickname"    />
        <result property="avatar"    column="avatar"    />
        <result property="gender"    column="gender"    />
        <result property="brief"    column="brief"    />
        <result property="sessionKey"    column="session_key"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectUserInfoVo">
        select * from user_info
    </sql>

    <select id="selectUserInfoList" parameterType="UserInfo" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        <where>  
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="sessionKey != null  and sessionKey != ''"> and session_key like concat('%', #{sessionKey}, '%')</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectUserInfoByUserId" parameterType="String" resultMap="UserInfoResult">
        <include refid="selectUserInfoVo"/>
        where openid = #{openid}
    </select>
        
    <insert id="insertUserInfo" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="openid">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="openid != null and openid != ''">openid,</if>
            <if test="sessionKey != null and sessionKey != ''">session_key,</if>
            <if test="avatar != null and avatar != ''">avatar,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="brief != null">brief,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="openid != null and openid != ''">#{openid},</if>
            <if test="sessionKey != null and sessionKey != ''">#{sessionKey},</if>
            <if test="avatar != null and avatar != ''">#{avatar},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="brief != null">#{brief},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateUserInfo" parameterType="UserInfo">
        update user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="sessionKey != null and sessionKey != ''">session_key = #{sessionKey},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="brief != null">brief = #{brief},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where openid = #{openid}
    </update>

    <delete id="deleteUserInfoByUserId" parameterType="Long">
        delete from user_info where openid = #{openid}
    </delete>

    <delete id="deleteUserInfoByUserIds" parameterType="String">
        delete from user_info where openid in
        <foreach item="openid" collection="array" open="(" separator="," close=")">
            #{openid}
        </foreach>
    </delete>


<!--  new  -->

    <!-- 插入数据 -->
    <insert id="insertWechatUserInfo" parameterType="UserInfo"
            useGeneratedKeys="true" keyProperty="openId">
        INSERT INTO wx_user_info (open_id, avatar_url, gender, nick_name, signature, session_key, skey, create_time, last_visit_time)
        VALUES (#{openId}, #{avatarUrl}, #{gender}, #{nickName}, #{signature}, #{sessionKey}, #{skey}, #{createTime}, #{lastVisitTime})
    </insert>

    <!-- 根据 openId 更新数据 -->
    <update id="updateWechatUserInfo" parameterType="UserInfo">
        UPDATE wx_user_info
        SET avatar_url = #{avatarUrl}, gender = #{gender}, nick_name = #{nickName},
            signature = #{signature}, session_key = #{sessionKey}, skey = #{skey},
            create_time = #{createTime}, last_visit_time = #{lastVisitTime}
        WHERE open_id = #{openId}
    </update>

    <!-- 根据 openId 删除数据 -->
    <delete id="deleteWechatUserInfo" parameterType="String">
        DELETE FROM wx_user_info
        WHERE open_id = #{openId}
    </delete>

    <!-- 根据 openId 查询数据 -->
    <select id="getWechatUserInfoByOpenId" parameterType="String" resultMap="wechatUserInfoResultMap">
        SELECT * FROM wx_user_info
        WHERE open_id = #{openId}
    </select>

    <!-- 查询所有数据 -->
    <select id="getAllWechatUserInfo" resultMap="wechatUserInfoResultMap">
        SELECT * FROM wx_user_info
    </select>

    <!-- 结果映射 -->
    <resultMap id="wechatUserInfoResultMap" type="UserInfo">
        <id column="open_id" property="openId" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="gender" property="gender" />
        <result column="nick_name" property="nickName" />
        <result column="signature" property="signature" />
        <result column="session_key" property="sessionKey" />
        <result column="skey" property="skey" />
        <result column="create_time" property="createTime" />
        <result column="last_visit_time" property="lastVisitTime" />
    </resultMap>
</mapper>